@{
    ViewData["Title"] = "Home Page";
}

<a href="@Url.Action("Get", "Estudiante")" class="btn btn-success">Get Estudiantes</a>
<a href="@Url.Action("Post", "Estudiante")" class="btn btn-success">Post Estudiantes</a>